<div class="center hero-unit">
  <h1>Welcome to the Panda Social Network</h1>
  <h2>
    This is the home page for the Panda Social Network 
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("panda.png", alt: "Panda"), 'http://rubyonrails.org/' %>

