<footer class="footer">
  <small>
    <a href=" https://gentle-stream-5659.herokuapp.com/
">Panda Social Network</a>
    by Yuliya Pelekh
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", '#' %></li>
    </ul>
  </nav>
</footer>